@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import "https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css";

/* reset css start */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-family: 'Roboto', sans-serif;
}

#root,
#__next {
  isolation: isolate;
}

li {
  list-style: none;
}

/* end reset css */

/* basic layout stuff start */

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

h2 {
  margin-bottom: 1rem;
  font-size: 1.7rem;
}

header {
  padding: 1em;
  border-bottom: 0.05rem solid #ccc;
}

header a img {
  width: 10rem;
  position: relative;
  top: 0.4rem;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1em;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1em;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  padding: 0;
  align-items: center;
}

nav li button {
  background: #6c4c9a;
  border-radius: 0.8rem;
  border: 1px solid transparent;
  padding: 0.5rem 2rem;
  cursor: pointer;
}

nav li button a {
  color: #fff;
}

nav a {
  text-decoration: none;
  color: #000000;
}

nav a:hover {
  text-decoration: none;
  color: #6c4c9a;
}

.nav-toggle {
  display: none;
  font-size: 1.5em;
  background: none;
  border: none;
  color: #000;
}



main {
  flex: 1;
  padding: 1em;
  background: #f4f4f4;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em;
}

footer {
  padding: 1em;
  margin-top: auto;
  /* This pushes footer to the bottom if content is short */
}

img {
  max-width: 100%;
  height: auto;
}

main section {
  padding: 2rem 0;
}

@media (max-width: 768px) {
  header nav ul {
    display: none;
    flex-direction: column;
    background: #d5d4d5;
    padding: 20px;
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
    gap: 1rem;
  }

  .nav-list.open {
    display: flex;
  }

  .nav-toggle {
    display: block;
  }


  .header-content {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .content {
    padding: 1em 0.5em;
  }

  #user {
    flex-direction: column !important;
  }

  #user_info {
    flex-direction: column;
  }


  #user_languages ul {
    flex-direction: column;
  }

  #user_teachers ul {
    display: flex;
    flex-direction: column;
  }

  #user_teachers ul li {
    flex: 1;
    width: 100% !important;
  }

  #user_teachers ul li ul li {
    flex-direction: column;
    width: 100% !important;
  }

  #user_languages form {
    flex-direction: column;
  }

  footer .content {
    flex-direction: column !important;
  }

  #hero {
    flex-direction: column;
  }

  #about .figures {
    flex-direction: column !important;
  }

  #about figure {
    max-width: 100% !important;
  }

}

/* basic stuff end */

/* user-profile start */
#user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
  gap: 3rem;
}

.username,
h1 {
  font-size: 3rem;
}

.user_avatar {
  border-radius: 50%;
  max-width: 20rem;
}

#user_info {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.user_image-section {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  button {
    margin: -2rem;
    width: 60%;
    padding: 11px 0;
  }

  button:hover {
    width: 60%;
    padding: 11px 0;
  }
}

#user_info section:first-child ul {
  padding: 0;
  list-style-type: none;
}

#user_info section ul {
  padding: 0 1rem;

}

#user_info section {
  flex: 1;
}

#user_languages ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  gap: 2rem
}

#user_info section:nth-child(2) article {
  display: flex;
  align-items: center;
  gap: 0.7rem;

  h2 {
    margin: 0;
  }
  
  img {
    cursor: pointer;
    margin: 0;
    padding: 0;
    display: block;
    width: 1.7rem;
    height: 1.7rem;
  }
}

#user_extra section:nth-child(2) article {
  display: flex;
  align-items: center;
  gap: 0.7rem;

  h2 {
    margin: 0;
  }
  
  img {
    cursor: pointer;
    margin: 0;
    padding: 0;
    display: block;
    width: 1.7rem;
    height: 1.7rem;
  }
}

#user_languages li {
  flex: 1;
  text-align: center;
}

#user_languages li img {
  border-radius: 1rem;
  width: 40%;
  cursor: pointer;
}

section ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  padding: 0;
  justify-content: space-between;
}

.user_teachers_list {
  justify-content: flex-start;
}

#user_teachers ul {
  display: flex;
  justify-content: space-between;
}

#user_teachers ul li {
  width: 24%;
  padding: 0;
}

#user_teachers ul li ul {
  flex-direction: column;
  padding-bottom: 2rem;
  padding-top: 1rem;
  margin: 0;
}

#user_teachers ul li ul li {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0;
  gap: 0.6rem;
}

#user_teachers ul li:nth-last-child(2) {
  margin-bottom: 1rem;
}

#user_teachers ul li ul li  {
  justify-self: center;
}

#user_languages form {
  display: flex;
  padding: 2rem;
  border: 0.05rem solid #ccc;
  gap: 2rem;
  margin-top: 2rem;
  border-radius: 1rem;
  justify-content: space-between;
}

#user_languages .form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#user_extra {
  display: flex;
  flex-direction: row;
}

#user_extra ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
#user_extra .resources ul li {
  list-style: disc;
  margin-left: 1rem;
}
#user_extra section {
flex:1;
gap:3rem;
}
/* footer start */
footer .content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-between;
  gap: 2rem;
}

footer .logo img {
  width: 10rem;
}

footer section {
  flex: 1;
}

footer section:first-child {
  flex: 2;
}

footer section:last-child {
  display: flex;
  flex-direction: column;
  align-items: start;
}

footer p:last-child {
  width: 100%;
  text-align: center;
}

footer nav ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0;
  gap: 0.5rem;
}

footer button,
#hero button {
  background: #6c4c9a;
  color: #fff;
  border-radius: 0.8rem;
  border: 1px solid transparent;
  padding: 0.5rem 3rem;
  margin-top: 2rem;
  font-weight: bold;
  cursor: pointer;
}

footer button:hover,
#hero button:hover {
  color: #6c4c9a;
  background-color: #fff;
  border-radius: 0.8rem;
  border: 1px solid #6c4c9a;
  padding: 0.5rem 3rem;
  margin-top: 2rem;
  font-weight: bold;
  cursor: pointer;
}

footer button a {
  text-decoration: none;
  color: white;
}

footer .icons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1rem;
}

footer .icons img {
  width: 1.5rem;
}

/* footer end */
/* index start */
/* timeline start */
/* The actual timeline (the vertical ruler) */
#how_it_works .timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
#how_it_works .timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
#how_it_works .timecontainer {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
#how_it_works .timecontainer::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -13px;
  background-color: white;
  border: 4px solid #6c4c9a;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
#how_it_works .left {
  left: 0;
}

/* Place the container to the right */
#how_it_works .right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
#how_it_works .left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
#how_it_works .right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
#how_it_works .right::after {
  left: -13px;
}

/* The actual content */
#how_it_works .content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
  /* hover effects */
  transition: all 0.3s ease;
  border: 1px solid transparent;
}

/* Hover effects */
#how_it_works .timecontainer:hover .content {
  border: 2px solid #6c4c9a;
  background-color: #fff;
}

#how_it_works .timecontainer:hover::after {
  border-color: #3f2a63;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {

  /* Place the timelime to the left */
  .timeline::after {
    left: 28px !important;
  }

  /* Full-width containers */
  #how_it_works .timecontainer {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  #how_it_works .timecontainer::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  #how_it_works .left::after,
  #how_it_works .right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  #how_it_works .right {
    left: 0%;
  }
}

/* timeline end */
/* hero section start */
#hero {
  display: flex;
  gap: 2rem;
}

#hero h1 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.5rem;
}

#hero section {
  flex: 1;
}

#hero section p {
  margin-top: 3rem;
}

#hero p:last-child {
  text-align: center;
}

#hero p:last-child button {
  padding: 1rem 2rem;
  font-size: 1.2rem;
}

/* hero section end */
/* what is buddly start */
#about .figures {
  display: flex;
  gap: 2rem;
  justify-content: center;

}

#about figure {
  display: flex;
  flex-direction: column;
  background: rgb(213, 195, 224);
  padding: 1rem;
  border-radius: 1rem;
  max-width: 30%;
  transition: transform 0.3s ease-in-out;
}

#about figure img {
  border-radius: 1rem;
}

#about figcaption {
  padding-top: 1rem;
  text-align: center;
}

#about h2 {
  text-align: center;
}

/* what is buddly end */
/* forms */
/* we should give the same for all  */
input[type=email],
input[type=password],
input[type=text],
input[type=tel],
textarea,
select {
  /* margin: 10px 10px 15px 0; */
  width: 100%;
  /* min-height: 2.5em; */
  /* padding: 10px;
  border: 1px solid #e3e1fd; */
  color: black;
}


button {
  background: #6c4c9a;
  color: #fff;
  border-radius: 0.8rem;
  border: 1px solid #6c4c9a;
  padding: 0.5rem 2rem;
  cursor: pointer;
}

li button {
  color: white;
}

button a {
  text-decoration: none;
  color: #fff;
}

.btnmatch{
  align-self: flex-start;
}

.btnmatchhover, button:hover {
  background: #fff;
  color: #6c4c9a;
  border-radius: 0.8rem;
  border: 1px solid #6c4c9a;
  padding: 0.5rem 2rem;
  cursor: pointer;
  font-weight: 600;
  align-self: flex-start;

  a {
    text-decoration: none;
    color: #6c4c9a;
  }
}

/* signup/registerpage */
.step {
  display: none;
}

.step.active {
  display: block;
}

.step h2 {
  display: flex;
  justify-content: center;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.registrationForm,
.succesfulRegistration {
  display: flex;
  background-color: #fff;
  width: 1170px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 1rem;
}

.activation-link {
  color: #6c4c9a;
}

.succesfulRegistration h1 {
  margin-top: 2rem;
  font-size: 42px;
}

.succesfulRegistration p {
  margin-bottom: 2rem;
}

.input-field {
  width: 30rem;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formh {
  text-align: center;
}